<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Bem-vindo!</title>
    <style>
      main{ width: 100%; text-align: center; } h2 {color: #524f4f; text-align:
      center; text-shadow:1px 1px 1px #798A91 ;} img{ width: 90px ; height:
      90px; background-size: cover;}
    </style>
  </head>
  <body>
    <main>
      <img src="cid:logo" alt="kenzie-logo" />

      <h2>Olá {{user}}!</h2>
      <p>Sua incrição no curso
        {{course}}
        de duração de
        {{duration}}, foi concluída com sucesso!
      </p>
    </main>
  </body>
</html>